<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.ideyatech.moove"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:allowBackup="true"
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/toolbar_moove"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_main_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".reward.RewardsActivity"
            android:configChanges="orientation"
            android:label="Rewards"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".merchant.MerchantActivity"
            android:configChanges="orientation"
            android:label="Merchant"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.Moove"
            android:configChanges="orientation"
            android:label="Moove"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.Login"
            android:configChanges="orientation"
            android:label="Login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SearchDeviceActivity"
            android:configChanges="orientation"
            android:label="SearchDevice"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.GetToKnowActivity"
            android:configChanges="orientation"
            android:label="GetToKnow"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.GenderActivity"
            android:configChanges="orientation"
            android:label="Gender"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.HeightActivity"
            android:configChanges="orientation"
            android:label="Height"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.WeightActivity"
            android:configChanges="orientation"
            android:label="Weight"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reward.ClaimRewardActivity"
            android:configChanges="orientation"
            android:label="GU"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reward.qr"
            android:configChanges="orientation"
            android:label="QR"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.QR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LastStepActivity"
            android:configChanges="orientation"
            android:label="LastStep"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".merchant.MapView"
            android:configChanges="orientation"
            android:label="MapView"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".barchart.BarChartActivity"
            android:configChanges="orientation"
            android:label="BarChart"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.bar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.ChooseDevice"
            android:label="@string/title_activity_choose_device" >
        </activity>
    </application>

</manifest>
